/* box view: borders around blocks */
/* (forked from logtools) */

.ls-block[data-refs-self*='".border"'] {
    box-shadow: 2px 2px 3px #0000003b;
    border: 1px solid var(--ls-border-color);
    border-radius: var(--ls-border-radius-medium);
    background-color: var(--ls-primary-background-color);
    margin: 0em 0.5em 0.2em 1em !important;
    padding: 0.5em 1em 0.5em 0em !important;
}

.ls-block[data-refs-self*='".border-child"'] > .block-children-container > .block-children > .ls-block {
    box-shadow: 2px 2px 3px #0000003b;
    border: 1px solid var(--ls-border-color);
    border-radius: var(--ls-border-radius-low);
    background-color: var(--ls-tertiary-background-color);
    margin: 0.5em 1em 0.5em 0em !important;
    padding: 0.5em 1em 0.5em 0em !important;
}
.ls-block[data-refs-self*='".border-child"'] > .block-children-container > .block-children {
    border-left-width: 0px !important;
}
