/* gallery view: for images */
/* (based on logtools) */

[data-refs-self*='".gallery'] > .block-children-container {
    width: 100%;
}

[data-refs-self*='".gallery'] > .block-children-container > .block-children {
    display: inline-flex;
    margin: 0px 0px 0px 10px;
    border-left: none;
}
[data-refs-self*='".gallery'] > .block-children-container > .block-children > .ls-block {
    margin: 0px 10px 0px 0px;
    min-width: 80px;
}

/* changing content sizes */
[data-refs-self*='".gallery'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper {
    width: 100%;
}
[data-refs-self*='".gallery'] > .block-children-container > .block-children > .ls-block > .block-children-container {
    margin-left: -10px;
}

/* hide unnecessary parts */
[data-refs-self*='".gallery'] > .block-children-container .block-content .asset-container {
    margin-top: 0rem;
}

[data-refs-self*='".gallery'] > .block-children-container > .block-children > .ls-block > div {
    padding-right: 0;
}
[data-refs-self*='".gallery'] > .block-children-container > .block-children > .ls-block > div > .block-control-wrap {
    display: none;
}
[data-refs-self*='".gallery'] > .block-children-container > .block-children > .ls-block > .block-children-container > .block-children-left-border {
    display: none;
}
[data-refs-self*='".gallery'] > .block-children-container > .block-children > .ls-block > .block-children-container > .block-children {
    border-left: 0px;
}


/* in case fixed width or height (note «-») */
[data-refs-self*='".gallery-'] > .block-children-container > .block-children > .ls-block {
    min-width: unset;
}
[data-refs-self*='".gallery-'] > .block-children-container > .block-children {
    flex-wrap: wrap;
}


/* .gallery-wN: force width of the columns */
[data-refs-self*='".gallery-w1"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w1"'] > .block-children-container > .block-children > .ls-block img {
    width: 100px !important;
}
[data-refs-self*='".gallery-w2"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w2"'] > .block-children-container > .block-children > .ls-block img {
    width: 120px !important;
}
[data-refs-self*='".gallery-w3"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w3"'] > .block-children-container > .block-children > .ls-block img {
    width: 150px !important;
}
[data-refs-self*='".gallery-w4"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w4"'] > .block-children-container > .block-children > .ls-block img {
    width: 200px !important;
}
[data-refs-self*='".gallery-w5"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w5"'] > .block-children-container > .block-children > .ls-block img {
    width: 250px !important;
}
[data-refs-self*='".gallery-w6"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w6"'] > .block-children-container > .block-children > .ls-block img {
    width: 300px !important;
}
[data-refs-self*='".gallery-w7"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w7"'] > .block-children-container > .block-children > .ls-block img {
    width: 350px !important;
}
[data-refs-self*='".gallery-w8"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w8"'] > .block-children-container > .block-children > .ls-block img {
    width: 400px !important;
}
[data-refs-self*='".gallery-w9"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-w9"'] > .block-children-container > .block-children > .ls-block img {
    width: 800px !important;
}


/* .gallery-hN: force height of the columns */
[data-refs-self*='".gallery-h1"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h1"'] > .block-children-container > .block-children > .ls-block img {
    height: 100px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h2"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h2"'] > .block-children-container > .block-children > .ls-block img {
    height: 120px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h3"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h3"'] > .block-children-container > .block-children > .ls-block img {
    height: 150px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h4"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h4"'] > .block-children-container > .block-children > .ls-block img {
    height: 200px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h5"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h5"'] > .block-children-container > .block-children > .ls-block img {
    height: 250px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h6"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h6"'] > .block-children-container > .block-children > .ls-block img {
    height: 300px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h7"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h7"'] > .block-children-container > .block-children > .ls-block img {
    height: 350px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h8"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h8"'] > .block-children-container > .block-children > .ls-block img {
    height: 400px !important;
    width: auto !important;
}
[data-refs-self*='".gallery-h9"'] > .block-children-container > .block-children > .ls-block > div > .block-content-wrapper,
[data-refs-self*='".gallery-h9"'] > .block-children-container > .block-children > .ls-block img {
    height: 600px !important;
    width: auto !important;
}
